<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640078631538-1vopvg3l3r7lbbbht385q3fgieffo4oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640078631538-1vopvg3l3r7lbbbht385q3fgieffo4oc</string>
	<key>API_KEY</key>
	<string>AIzaSyCw-O74P9SOcOn63x4hE5mVUErm6KnyrW8</string>
	<key>GCM_SENDER_ID</key>
	<string>640078631538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toolforallGroup08Project</string>
	<key>PROJECT_ID</key>
	<string>toolforall-9228b</string>
	<key>STORAGE_BUCKET</key>
	<string>toolforall-9228b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640078631538:ios:4dedaece78ea7a6c31e8eb</string>
	<key>DATABASE_URL</key>
	<string>https://toolforall-9228b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>